.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.count {
    display: flex;
    justify-content: flex-start;
}

.count-item {
    margin-right: 36px;
}

.count-item-single {
    margin: 0;
}