@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body * {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

select:not([multiple]) {
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none;
}
